<!DOCTYPE html>
<html>
  <head>
    <title>SkuParser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <% unless current_page?(root_url) %>
        <p>
          <%= link_to 'Back to Root', root_path %>
        </p>
      <% end %>
    </div>
  </body>
</html>
